*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
}

html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card{
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.top img{
  object-fit: cover;
  height: 50px;
  width: 50px;
  border: 2px solid #dadada;
  border-radius: 50%;
  padding: 2px;
}

.top .icon {
  width: 15px;
  height: 15px;
  color: gray;         
  margin-left: 8px;
  
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top button{
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 20%;
}
.center h3{
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 5px;
}

.center h3 span{
   font-size: 10px;
   font-weight: 400;
   color: gray;
}
.center h2{
  font-size: 18px;
  
}
.center .tag{
  display: flex;
  gap: 5px;
  margin: 10px;
}

.center .tag h4{
  font-size: 10px;
  background-color:#dadada;
  border-radius: 10%;
  padding: 4px;
  font-weight: 500;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top:1px solid #dadada ;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  border-radius: 10%;
  color: white;
  padding: 5px 10px;
  border:solid black;
}

.bottom .tag2 p{
  font-weight: 500;
  color: gray;
  font-size: 10px;
}